* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

ul#nav {
  list-style-type: none;
  display: flex;
  gap: 6px;
  flex-direction: column;
  width: min(90vw, 300px);
  padding: 0;
  li {
    a {
      background-color:#9DD9D2;
      font-size: 18px;
      font-weight: 800;
      color: black;
      padding: 12px 36px;
      text-decoration: none;
      border-radius: 6px;
      display: block;
    }
  }
}

button {
  border: none;
  background-color:#FF8811;
  font-size: 18px;
  font-weight: 800;
  color: white;
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  width: min(90vw, 640px);
}

input[type="text"] {
  padding: 12px 36px;
  font-size: 18px;
  border-radius: 6px;
  border-color: #9DD9D2;
  border-style: solid;
  width: min(90vw, 640px);
  &::placeholder {
    color: #99c7c2;
    font-style: italic;
  }
}

.formContainer {
  width: min(90vw, 640px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}