:root {
  /* paddings gaps and margins */
  --gap: 6px;
  --padding-horz: calc(var(--gap) * 2);
  --padding-vert: var(--gap);

  /* colors */
  --text-color-rgb: 255 255 255;
  --text-color: rgb(var(--text-color-rgb));
  --background-color-rgb: 0 54 67;
  --background-color: rgb(var(--background-color-rgb));

  /* tables */
  --table-head-color-rgb: 0 159 224;
  --table-head-color: rgb(var(--table-head-color-rgb) / 80%);
  --table-even-row-color: rgb(var(--table-head-color-rgb) / 7.5%);
  --table-border-color: var(--table-even-row-color);
  --table-subhead-color: rgb(var(--table-head-color-rgb) / 25%);
  --table-head-text-color: white;

  /* pseudo content */
  --green-check: "✅";
  --red-error: "❌";

  /* nav items */
  --nav-item-background-color-rgb: 0 128 132;
  --nav-item-background-color: rgb(var(--nav-item-background-color-rgb));
  --nav-item-background-color-hover: rgb(var(--nav-item-background-color-rgb) / 60%);
  --nav-item-text-color: white;
  --nav-width: min(90vw, 320px);

  /* form items */
  --input-border: #9DD9D2;
  --input-placeholder: #99c7c2;;

  /* buttons */
  --button-background-color-rgb: 166 22 128;
  --button-background-color: rgb( var(--button-background-color-rgb));
  --button-background-hover: rgb( var(--button-background-color-rgb) / 60%);
 
  --file-input-background-color-rgb: 0 102 179;
  --file-input-background-color: rgb( var(--file-input-background-color-rgb));
  --file-input-background-hover: rgb( var(--file-input-background-color-rgb) / 60%);

  --button-shadow: 7px 6px 28px 1px rgb(0 0 0 / 24%);
  --button-shadow-active: 3px 2px 22px 1px rgba(0 0 0 / 24%);
  --button-transform: scale(0.98);

  --toggle-label-color-on-rgb: 0 160 0;
  --toggle-label-color-on: rgb( var(--toggle-label-color-on-rgb));
  --toggle-label-color-off: rgb( var(--toggle-label-color-on-rgb) / 60%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  /* css properties */
  padding: 0;
  margin: 0;
  min-height: 100svh;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0 calc(var(--gap) * 2);
}

ul#nav {
  list-style-type: none;
  display: flex;
  gap: calc(var(--gap) * 3);
  flex-direction: column;
  width: var(--nav-width);
  padding: calc(var(--gap) * 2);
  li {
    a {
      background-color: var(--nav-item-background-color);
      font-size: 18px;
      font-weight: 800;
      color: var(--nav-item-text-color);
      text-shadow: 1px 1px 2px black;
      padding: 12px 36px;
      text-decoration: none;
      border-radius: 6px;
      display: block;
      box-shadow: var(--button-shadow);
      &:hover {
        background-color: var(--nav-item-background-color-hover);
      }
      &:active {
        box-shadow: var(--button-shadow-active);
        transform: var(--button-transform);
      }
    }
  }
}

button {
  border: none;
  background-color: var(--button-background-color);
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  width: min(90vw, 640px);
  box-shadow: var(--button-shadow);
  &:hover {
    background-color: var(--button-background-hover);
  }
  &:active {
    box-shadow: var(--button-shadow-active);
    transform: var(--button-transform);
  }
  &:disabled {
    opacity: 0.3;
  }
}

input[type=file] {
  font-size: 18px;
  width: fit-content;
  &::file-selector-button {
    border: none;
    background-color: var(--file-input-background-color);
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 12px 36px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    box-shadow: var(--button-shadow);
    &:hover {
      background-color: var(--file-input-background-hover);
    }
    &:active {
      box-shadow: var(--button-shadow-active);
      transform: var(--button-transform);
    }
  }
}

input[type="text"] {
  padding: 12px 36px;
  font-size: 18px;
  border-radius: 6px;
  border-color: var(--input-border);
  border-style: solid;
  width: min(90vw, 640px);
  &::placeholder {
    color: var(--input-placeholder);
    font-style: italic;
  }
}

input {
  background-color: #003643;
  color: white;
}

.formContainer {
  width: min(90vw, 640px);
  display: flex;
  flex-direction: column;
  gap: var(--padding-horz);
  padding-left: var(--padding-horz);
  margin: 12px 0;
}

.mainContainer {
  padding-left: var(--padding-horz);
}

.anchor {
  height: 0;
  width: 0;
  position: relative;
}

dialog::backdrop {
  background-color: rgba(0 0 0 / 40%);
  backdrop-filter: blur(var(--gap));
}

dialog {
  border-radius: var(--gap);
  border: 1px solid rgb(var(--table-head-color-rgb) / 7.5%);
  padding: calc(var(--padding-vert) * 4);
  background-color: var(--background-color);
  color: rgb(var(--text-color));
  &#errorDialog {
    --button-background-color: rgb(128 0 0);
    --button-background-hover: rgb(144 0 0);
  }
}