#table {
  width: 100%;
  border-spacing: 0;
  margin: 0 var(--padding-vert);
}

#thead {
  width: 100%;
}

tr.even {
  background-color: var(--table-even-row-color);
  td:not(:last-child) {
    border-right: 1px solid var(--table-head-color);;
  }
  th:not(:last-child) {
    border-right: 1px solid var(--table-head-color);;
  }
}
td {
  padding: 6px;
  vertical-align: top;
  &:not(:last-child) {
    border-right: 1px solid var(--table-head-color);
  }
}

.emptyLogik {
  padding: 10px;
}

.columnHead {
  width: 24.9vh;
  padding: 10px;
  background-color: var(--table-subhead-color);
  color: var(--table-head-text-color);
  text-align: left;
  &:not(:last-child) {
    border-right: 1px solid var(--table-head-color);
  }
}
.columnHeadMain {
  padding: 10px;
  background-color: var(--table-head-color);
  color: var(--table-head-text-color);
  text-shadow: 1px 1px 2px black;
}

span.correct::before {
  content: var( --green-check);
  margin-right: 10px;
}

span.incorrect::before {
  content: var(--red-error);
  margin-right: 10px;
}

.divLog {
  height: auto;
  transition: height 0.616s ease;
  overflow-y: hidden;
  interpolate-size: allow-keywords;
}

.divLog.hide {
  height: 0px;
}