#table {
  border-spacing: 0;
  margin: 0 var(--padding-vert);
  width: calc(100vw - calc(var(--padding-vert) * 2));
}

#thead {
  width: 100%;
}

tr.even {
  background-color: var(--table-even-row-color);
  td:not(:last-child) {
    border-right: 1px solid var(--table-head-color);;
  }
  th:not(:last-child) {
    border-right: 1px solid var(--table-head-color);;
  }
}
td {
  padding: 6px;
  vertical-align: top;
  &:not(:last-child) {
    border-right: 1px solid var(--table-head-color);
  }
}

.emptyLogik {
  padding: 10px;
}

.columnHead {
  width: 24.9vh;
  padding: 10px;
  background-color: var(--table-subhead-color);
  color: var(--table-head-text-color);
  text-align: left;
  &:not(:last-child) {
    border-right: 1px solid var(--table-head-color);
  }
}
.columnHeadMain {
  padding: 10px;
  background-color: var(--table-head-color);
  color: var(--table-head-text-color);
  text-shadow: 1px 1px 2px black;
}

span.correct::before {
  content: var( --green-check);
  margin-right: 10px;
}

span.incorrect::before {
  content: var(--red-error);
  margin-right: 10px;
}

.logicCount {
  cursor: pointer;
}

.divLog {
  height: auto;
  transition: height 0.616s ease, margin 0.616s ease;
  overflow-y: hidden;
  interpolate-size: allow-keywords;
  display: grid;
  gap: 6px 12px;
  box-sizing: border-box;
  grid-template-columns: 2fr 1fr 1fr;
  width: 40vw;
  margin-top: var(--padding-vert);
  &.hide {
    height: 0px;
    margin: 0;
  }
}

.subGrid {
  grid-column: 1 / 4;
  display: grid;
  grid-row: span 2;
  grid-template-areas:
    "executionContext logicType logicSubType"
    "logicContent logicContent logicContent";
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  .tag {
    margin-bottom: 4px;
  }
}

.executionContext {
  grid-area: executionContext;
}

.logicType {
  grid-area: logicType;
}

.logicSubType {
  grid-area: logicSubType;
}

.logicContent {
  grid-area: logicContent;
  background-color: rgb(60, 80, 89);
  padding: 3px 1px;
  margin: 0;
  white-space: pre-wrap;
}
.tag {
  --color-base: 255, 140, 0;
  &.onComponentSelection {
    --color-base: 81, 190, 17;
  }
  &.onComponentDeSelection {
    --color-base: 14, 151, 133;
  }

  padding: var(--padding-horz) var(--padding-vert);
  border-radius: 4px;
  text-align: center;
  &.executionContext {
    background-color: rgb(var(--color-base));
  }
  &.logicType {
    background-color: rgba(var(--color-base), 0.75);
  }
  &.logicSubType {
    background-color: rgba(var(--color-base), 0.5);
  }
}