#xpathExpressionOutput {
  color: rgb(74, 192, 153);
  padding: 12px 36px;
  font-size: 16px;
}

#xpathValue {
  background-color: darkgreen;
  color: aliceblue;
  font-size: 24px;
  padding: 12px 36px;
  display: inline-block;
  border-radius: 6px;
}

#xpathValue:empty {
  display: none;
}

#xpathExpressionOutput.error {
  color: darkred;
}