.formContainer {
  width: 90vw;
}

.xpathExpression {
  color: rgb(74, 192, 153);
  padding: 12px 36px;
  font-size: 16px;
  grid-area: xpathExpression;
}

.xpathValue {
  background-color: darkgreen;
  color: aliceblue;
  font-size: 24px;
  padding: 12px 36px;
  display: inline-block;
  border-radius: 6px;
  grid-area: xpathValue;
}

.variablePath {
  grid-area: variablePath;
}

.varPathContainer {
  display: flex;
  align-items: center;
  gap: var(--padding-horz);
  font-size: 18px;
  cursor: pointer;
  grid-area: variablePath;
  span {
    &:hover {
      opacity: 0.5;
    }
  }
}

.xpathValue:empty, .xpathExpression:empty {
  display: none;
}

.xpathExpressionOutput.error {
  color: darkred;
}

.varContainer {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-areas:
    'variablePath xpathValue'
    'xpathExpression xpathExpression';
}

