.xpathExpression {
  color: rgb(74, 192, 153);
  padding: 12px 36px;
  font-size: 16px;
  grid-area: xpath;
}

.xpathValue {
  background-color: darkgreen;
  color: aliceblue;
  font-size: 24px;
  padding: 12px 36px;
  display: inline-block;
  border-radius: 6px;
  grid-area: variableValue;
}

.variablePath {
  grid-area: variablePath;
}

.xpathValue:empty {
  display: none;
}

.xpathExpressionOutput.error {
  color: darkred;
}

.varContainer {
  display: grid;
  grid-template:
    'variablePath variableValue'
    'xpath xpath';
}

